@font-face {
  font-family: "Nocturne Victorian";
  src: url("./assets/fonts/3439-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Black Rose";
  src: url("./assets/fonts/Black_Rose.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Art-Victorian";
  src: url("./assets/fonts/Art-Victorian.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  height: 100vh; /* Висота рівна висоті екрану */
  width: 100%;
  overflow: hidden;
}
